/viikko1/NhlStatistics1/build/
/viikko1/NhlStatistics1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/.nb-gradle/
/viikko2/tehtavat9-12/Verkkokauppa1/build/
/viikko3/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/HelloCucumber/build/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/WebLogin/.nb-gradle/